<header class="page-header">
<h2>Status homepage</h2>
</header>


<a type="button" class="new-status btn btn-primary" href="<%=new_status_path%>">
  <span class="glyphicon glyphicon-plus"></span> New Status</a>

<% @statuses.each do | status | %>
<div class="status well well-sm">
  <strong><%= status.name %></strong>
  <em><%= time_ago_in_words(status.created_at) + " ago" %></em>
  <p><%= status.content %></p>
  <div class="meta">
    <%= link_to "Show", status %>
    <span class="admin">
      | <%= link_to "Edit", edit_status_path(status) %> |
      <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure"} %>
    </span>
  </div>
</div>
<% end %>